SEMAPHORE_PORT=3000
SEMAPHORE_ADMIN=admin
SEMAPHORE_ADMIN_NAME=DBA Admin
SEMAPHORE_ADMIN_EMAIL=admin@localhost
SEMAPHORE_ADMIN_PASSWORD=ChangeMe_OnlyForLab_2026!
SEMAPHORE_ACCESS_KEY_ENCRYPTION=replace_with_head_c32_dev_urandom_base64
TZ=Asia/Jakarta
DBA_PORTAL_ROOT=/dbaportal
